.heroSection {
  background: linear-gradient(rgba(0, 0, 0, 0.289) 30%, rgb(33, 37, 41)),
              url('https://png.pngtree.com/background/20230611/original/pngtree-many-different-kinds-of-food-are-arranged-on-a-table-picture-image_3145533.jpg');
  background-size: cover;
  background-position: center;
  padding-block: 15vh;
}

.searchSection {
  z-index: 10;
  bottom: 1rem;
  width: max-content;
  max-width: 90%;
  transition: transform 0.3s ease-in-out;
}

.searchSectionHidden {
  transform: translate(-50%, 120%);
}

.searchToggle {
  bottom: calc(1rem + 100%);
}

/* Bootstrap hover effect */
.hover-lift {
  transition: transform 0.2s;
}

.hover-lift:hover {
  transform: translateY(-5px);
}
